<div id="bostonglobe-<%= graphicName %>" style="margin: 20px 0;"></div>
<script src="http://apps.bostonglobe.com/common/js/pym/pym-0.4.5.min.js"></script>
<script>
	var pymParent = new pym.Parent("bostonglobe-<%= graphicName %>", "http://apps.bostonglobe.com/graphics/<%= filepath %>", {});

</script>
